<!doctype html>
<html lang="en">
    <head> 
        {{ template "headers" }}
        <link rel="stylesheet" href="/static/css/index.bundle.css">
        <script type="text/javascript" src="/static/js/index.bundle.js" defer></script>
        <title>Home</title>
    </head>
    <body>
        <div id="app" class="container">
        </div>
    </body>
</html>
