<!doctype html>
<html lang="en">
    <head>
        {{ template "headers" }}
        <link rel="stylesheet" href="/static/css/play.bundle.css">
        <script type="text/javascript" src="/static/js/play.bundle.js" defer></script>
        <title>Race!</title>
    </head>
    <body>
        <div id="app" class="container">
        </div>
    </body>
</html>
