@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');

body {
	padding-right: 5%;
	padding-left: 5%;
    background-color: white;
	font-family: 'Roboto', sans-serif;
	color: black;
}

h1 {
   color: black;
   font-size: 300%;
   font-weight: 700;
   margin-bottom: 3%;
}

h2 {
    margin-bottom: 1%;
}

h3 {
	font-size: 20px;
    text-align: 2%;
	padding-left: 2%;
    margin-top: 2%;
	color: gray;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #282828;
}

.text {
	text-align: left;
	font-size: 18px;
	padding-left: 2%;
}

.subtitle {
    text-align: left;
    padding-left: 2%;
    font-size: 200%;
}

#progressBarHolder {
    width: 100%;
    background-color: #ddd;
}

#progressBar {
    width: 0%;
    height: 30px;
    background-color: green;
    text-align: center;
    line-height: 30px;
    color: white;
}
