<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <script src="/static/playScript.js" defer></script>
    </head>
    <body>
        <h1><a href="/">GoType</a></h1>
        <h2 id="wpm">0</h2>
        <p>
            <span id="typedText" style="color:green"></span>
            <span id="currentWord" style="color:green;font-weight:bold"></span>
            <span id="typingText">{{.Text}}</span>
        </p>
        <input type="text" name="typingBox" id="inputBox" oninput="inputKey()"></input>
    </body>
</html>
