<!DOCTYPE html>
<html>
    <head>
        <title>Play</title>
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <script src="/static/playScript.js" defer></script>
    </head>
    <body>
        <p id="typingText">{{.Text}}</p>
        <input type="text" name="typingBox" id="inputBox" onkeyup="inputKeyUp()"></input>
    </body>
</html>
